@charset "utf-8";

body{
    background-color: rgb(247, 247, 247);
}

#wrap{
    background-color: white;
    margin: 50px  auto;
    width: 270px;
    border: 1px solid lightgray;
    padding: 40px 40px;
    border-radius: 3px;
}

#mainFont{
    font-family: 'Lobster', cursive; /*왼쪽이 우선이고 왼쪽을 불러오지 못하면 오른쪽을 사용*/
    font-size: 45px;
    margin: 0 0 37px;
    display: flex;
    justify-content: center;
}

#io{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    border-radius: 3px;
}

input{
    height: 25px;
    padding: 4px 7px;
    margin-bottom: 10px;
    background-color: rgb(249, 249, 249);
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
}

input::placeholder {
    font-size: 13px;
}

input:focus{
    outline: none;
}

button{
    background-color: rgb(186, 220, 255);
    color: white;
    border: none;
    height: 30px;
    border-radius: 3px;
    font-weight: 800;
    cursor : not-allowed;
}

a{
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-size: small;
}



#que{
    display: flex;
    justify-content: center;
}