@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 13px;
    line-height: 20px;
    color: rgb(49, 49, 49);
    background-color: rgb(247, 247, 247);
}

ol, ul{
    list-style: none;
}

img{
    vertical-align: top;
    border: 0;
}

a{
    text-decoration: none;
    color: rgb(49, 49, 49);
}

.wrap{
    width: 780px;
    margin: 0 auto;
}

.header{
    background-color: white;
    height: 70px;
    margin-bottom: 30px;

}

.headerIn{
    height: 70px;
    width: 780px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 130px;
    height: 30px;
}

.logoA{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.logoImg{
    width: 25px;
    height: 25px;
}

.logoImg>img{
    width: 100%;
    max-width:100%;
}

.logoLine{
    font-size: 20px;
    font-weight: 600;
    height: 25px;
}

.Justgram{
    font-family: 'Lobster', cursive;
    font-size: 20px;
    height: 25px;
}

.search{
    width: 210px;
}

.search>input{
    width: 200px;
    padding: 7px 4px;
    background-color: rgb(249, 249, 249);
    border: 1px solid rgb(219, 219, 219);
    border-radius: 4px;
}

.topNavi>ul{
    display: flex;
    flex-direction: row-reverse;
}

.topNavi>ul>li{
    width: 25px;
    height: 25px;
    margin-left: 20px;
}

.topNavi>ul>li>img{
    width: 100%;
    max-width:100%;
}

.feed{
    background-color: white;
    border: 1px solid lightgray;
    width: 500px;
    margin-bottom: 30px;
}

.feedHeader{
    width: 500px;
    background-color: white;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.feedHeaderLeft{
    display: inline-flex;
    padding: 15px 15px;
}

.profile{
    width: 30px;
    height: 30px;
}

.profile > img{
    width: 100%;
    border-radius: 50%;
}

.profileId{
    margin-left: 10px;
    height: 30px;
    line-height: 28px;
    font-weight: 600;
}

.feedHeaderRight{
    display: inline-flex;
    margin-right: 15px;
}

.feedHeaderRight>div{
    background-color: rgb(169, 169, 169);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-left: 3px;
}

.feedPicture{
    width: 500px;
    height: 500px;
}

.feedPicture>img{
    width: 100%;
    height: 100%;
}


.feedNavi{
    padding: 15px 15px;
}

.feedNavi>ul{
    display: inline-flex;
    margin-bottom: 10px;
}

.feedNavi>ul>li{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.feedNavi>ul>li>img{
    width: 100%;
    max-width:100%;
}

.likeNum{
    display: flex;
    align-items: center;
}

.likeComment{
    margin-left: 10px;
}

.likeComment>span{
    font-weight: 700;
}

.comment{
    margin-left: 10px;
}

.comment>ul>li>span{
    font-weight: 700;
    margin-right: 5px;
}

.gray{
    margin-left: 10px;
    color: gray;
}

.gray>input{
    border: none;
}

.gray>input:focus{
    outline: none;
}

.flex-wrap{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.right{
    margin-right: 10px;
}