body {
  background-color: rgb(243, 243, 243);
}

.align-center {
  display: flex;
  align-items: center;
}

.navbar {
  border: 1px solid lightgray;
  background-color: white;

  height: 80px;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.font-bold {
  font-weight: bold;
}

.header-block {
  width: 100%;
  height: inherit;
}

.left-line {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  height: 80%;
  margin-top: 6px;
}

.borderline2 {
  width: 300px;
  height: 30px;
}

.searching-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div3icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.borderline3 {
  width: 50px;
  margin-left: 35px;
}

.feed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  margin-right: 400px;
}

.feed-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: px;
  margin-right: 400px;
}

.feed {
  width: 40%;
  border: 1px solid lightgray;
  margin-bottom: 50px;
  background-color: white;
  border-radius: 5px;
}

.feed-head {
  width: 100%;
  height: 7%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.feed-left {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 15px;
}

.feed-right {
  width: 100%;
  display: flex;
  justify-content: end;
  padding-right: 15px;
}

.feed-photo {
  width: 100%;
  height: 65%;
}
.feed-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  height: 6%;
}
.feed-text {
  width: 100%;
}

.left-icon {
  max-width: 15%;
  max-height: 60%;
  padding-right: 20px;
}

.leftarea-icon {
  display: flex;
  justify-content: end;
  align-items: center;
}

.leftarea-text {
  font-size: 50px;
  font-family: Lobster;
  padding-left: 30px;
}

.searching {
  width: 270px;
  height: inherit;
  font-size: 20px;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: #fdfcfc;
}

.profileimg {
  width: 50px;
  padding-right: 15px;
}

.profile-id {
  font-family: "Francois One", sans-serif;
}

.moreimg {
  width: 20px;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-left-icon {
  width: 35px;
  padding-left: 10px;
}

.menu-right-icon {
  width: 35px;
  padding-right: 10px;
}

.menu-icon-div {
  display: flex;
  align-items: center;
  height: 100%;
}

.text-img {
  width: 25px;
}

.like-text {
  width: inherit;
  height: 20px;
  display: flex;
  align-items: center;
  padding: 2px 15px;
}
.like-text span {
  padding-left: 5px;
  font-size: 15px;
}

.writing {
  padding-top: 10px;
  padding-left: 15px;
  font-size: 14px;
}

.more-text {
  color: #6868689a;
}

.feed ul {
  margin: 5px -10px;
}

.feed ul li {
  font-size: 14px;
  list-style: none;
}

.nickname {
  font-weight: bold;
}

.comment-like-img {
  width: 10px;
  padding-right: 20px;
}

.text-time {
  padding-left: 15px;
  font-size: 16px;
  color: #52525291;
}

.comment-input-container {
  border-top: 1px solid lightgray;
  width: 100%;
  height: 73px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment-input-width {
  width: 100%;
  padding-top: 7px;
}

.comment-input {
  width: 95%;
  height: 50px;
  border: none;
  padding-left: 10px;
  font-size: 16px;
}

.comment-input::placeholder {
  font-size: 16px;
  color: #52525291;
}

.comment-btn {
  width: 80px;
  height: 73px;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  color: #b6dffa;
  border: none;
}
